grafana:
  adminPassword: "admin"
  service:
    type: NodePort
    nodePort: 30080

prometheus:
  prometheusSpec:
    storageSpec:
      volumeClaimTemplate:
        spec:
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 1Gi
